{% extends "base/index.html" %}
{% block titulo %}Arquivo - {{ arquivo.titulo }}{% endblock %}

{% block conteudo %}
<div class="container mt-3">
    <div class='shadow md-shadow-none rounded-lg h-100 overflow-hidden'>
        <div class='h-100 overflow-y-auto p-3'>
            <div class='p-2 d-flex border-bottom mb-2'>
                <h1 class='p-1 m-3 '><i class="fas fa-file-signature"></i></h1>
                <span class='font-weight-normal my-auto' style='font-size: 1.5rem; width: 80%;'>Detalhes do Arquivo - {{ arquivo.titulo }}</span>
                <div class="d-flex flex-end w-100">
                    <h5><span class="badge badge-primary">Versão {{ arquivo.versao }}</span></h5>
                </div>
            </div>
            <div class="row d-flex align-items-center p-3">
                <div class="row col-12 col-md-12 text-right">
                    <div class="col-12 text-right">
                        <a class="btn btn-success btn-sm" href='{% url "desafio:decompor_arquivo" arquivo.id|safe %}'><i class="fas fa-plus-square pr-2"></i>Gerar novo arquivo</a>
                        <a class="btn btn-primary btn-sm" href='{% url "desafio:decompor_arquivo" arquivo.id|safe %}'><i class="fas fa-th-large pr-2"></i>Decompor arquivo na sequência de caracteres ASCII individuais</a>
                    </div>
                </div>
            </div>

            <div class="dropdown-divider pt-3"></div>

            <a href="" data-content='Sair' data-toggle="modal" data-target="#logout" class="item-menu-mobile m-1"> <i class="fas fa-power-off fa-lg text-white"></i></a>

            <form action="">
                <div class="form-group">
                    <label for="titulo">Título do arquivo</label>
                    <input type="text" value='{{ arquivo.titulo }}' class="form-control" id="titulo" placeholder="Título">
                </div>

                <div class="form-group">
                    <label for="caracteresASCII">Caracteres ASCII (sequencia - ascii - caractere)</label>
                    <select multiple class="form-control" id="caracteresASCII">
                        {% for caractere in caracteres %}
                        <option>{{ caractere.sequencia }} - {{ caractere.asci }} - {{ caractere.caractere }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" contenteditable="true">
                    <label for="conteudo">Conteúdo original</label>
                    <textarea class="form-control" id="conteudo" rows="3" contenteditable="true" disabled>{{ conteudo }}</textarea>
                </div>
                <div class="form-group" contenteditable="true">
                    <label for="conteudo">Conteúdo refatorado</label>
                    <textarea class="form-control" id="conteudo" rows="3" contenteditable="true" disabled>{{ arquivo.conteudo_refatorado }}</textarea>
                </div>
                <div class="form-group">
                    <label for="caracteresASCII">Sequência de linhas (linha - conteúdo)</label>
                    <select multiple class="form-control" id="caracteresASCII">
                        {% for linha in linhas %}
                        <option>{{ linha.linha }} - {{ linha.conteudo }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="caracteresASCII">Palavras</label>
                    <div class="chips chips-placeholder">
                        {% for palavra in palavras %}
                            <div class="chip bg-primary text-white" tabindex="1">
                                <span class="badge badge-light mr-1">{{ palavra.sequencia }}</span>{{ palavra.palavra }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="referencias_cruzadas">Referências cruzadas</label>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Palavra</th>
                            <th scope="col">Linhas</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for palavra, linhas in referencias_cruzadas.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ palavra }}</td>
                                <td>{% for linha in linhas %}
                                        {% if forloop.last %}
                                            {{ linha }}
                                        {% else %}
                                            {{ linha }},
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <label for="caracteresASCII">Caracteres habilitadas</label>
                <div id="chips_ativados" class="chips chips-placeholder">
                    {% for caractere in caracteres %}
                        <div class="chip" tabindex="1" id="chip{{ caractere.id|safe }}">
                            {{ caractere.caractere }}
                            <i class="fas fa-times ml-1" onclick="apagar_chip('chip{{ caractere.id|safe }}', '{{ caractere.sequencia|safe }}')"></i>
                        </div>
                    {% endfor %}
                </div>

                <label for="caracteresASCII">Caracteres desabilitados</label>
                <div id="chips_desativados" class="chips chips-placeholder">
                    {% for caractere in caracteres_removidos %}
                        <div class="chip" tabindex="1" id="chip{{ caractere.id|safe }}">
                            {{ caractere.caractere }}
                            <i class="fas fa-plus ml-1" onclick="adicionar_chip('chip{{ caractere.id|safe }}', '{{ caractere.sequencia|safe }}')"></i>
                        </div>
                    {% endfor %}
                </div>

                <div class="p-3 text-right">
                    <a onclick="atualizar_arquivo({{ arquivo.id|safe }})" class="btn btn-success text-white">Atualizar arquivo</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let arquivo = {
        'id': '{{ arquivo.id|safe }}',
        'versao': '{{ arquivo.versao }}',
        'titulo': '',
        'conteudo': '',
        'chips_selecionados': [],
    }

    apagar_chip = (id_chip, sequencia) => {
        const chip = document.getElementById(id_chip)
    
        const id = parseInt(id_chip.replace('chip', ''))
        arquivo['chips_selecionados'].push(['remover', Number(sequencia)])
        console.log(arquivo['chips_selecionados'])
        
        chip_removido(id_chip, chip.textContent, sequencia, 'remover')
        chip.remove()
    }

    adicionar_chip = (id_chip, sequencia) => {
        const chip = document.getElementById(id_chip)
    
        const id = parseInt(id_chip.replace('chip', ''))
        arquivo['chips_selecionados'].push(['adicionar', Number(sequencia)])
        console.log(arquivo['chips_selecionados'])
        
        chip_removido(id_chip, chip.textContent, sequencia, 'adicionar')
        chip.remove()
    }

    chip_removido = (id, valor, sequencia, operacao) => {
        const div = document.createElement('div')
        const i = document.createElement('i')

        div.setAttribute('class', 'chip')
        div.setAttribute('tabindex', '1')
        div.setAttribute('id', id)
        div.textContent = valor

        if (operacao == 'adicionar') {
            const chips_ativos = document.getElementById('chips_ativados')
            
            i.setAttribute('class', 'fas fa-times')
            i.setAttribute('onclick', 'apagar_chip("' + id + '", "' + sequencia + '")')
            
            div.append(i)
            chips_ativos.append(div)
        } else {
            const chips_desativados = document.getElementById('chips_desativados')
            
            i.setAttribute('class', 'fas fa-plus')
            i.setAttribute('onclick', 'adicionar_chip("' + id + '", "' + sequencia + '")')
            
            div.append(i)
            chips_desativados.append(div)
        }
    }

    atualizar_arquivo = (id_arquivo) => {
        var xhttp = new XMLHttpRequest()

        xhttp.open("POST", "/atualizar_arquivo_completo/", true)

        xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))

        xhttp.responseType = 'json'
        // xhttp.onreadystatechange = function(data) {
        //     if (this.readyState == 4 && this.status == 200) {
        //         let json = xhttp.response
        //         if (json) {
                    
        //         }
        //     }
        // }

        arquivo['titulo'] = document.getElementById('titulo').value
        arquivo['conteudo'] = document.getElementById('conteudo').value

        xhttp.send("arquivo=" + JSON.stringify(arquivo))
    }

    function getCookie(name) {
        var cookieValue = null;

        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}